<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Chart">

	<!-- 설문조사 결과 저장 -->
	<insert id="insert">
		<!-- insert into st_feedback values(feedback_seq.nextval, #{feedback}, #{bestmenu}, #{worstmenu}, #{parent_email}, #{school}) -->		
		insert into st_feedback values(feedback_seq.nextval, #{b_month}, #{parent_email}, #{school}, #{feedback}, #{taste}, #{amount}, #{bestmenu}, #{etc} )
	</insert>
	
	<!-- 베스트메뉴 1~5 -->
	<select id="bestList" resultType="kh.spring.dto.newChartDTO">
		select * from (select row_number() over (order by count desc) rnum, count, bestmenu from 
        (select count(bestmenu) as count, bestmenu from (select * from st_feedback where parent_email=#{parent_email} and b_month=#{b_month}) 
        group by bestmenu order by 1 desc)) where rnum between 1 and 5
	</select>


	<!-- 베스트메뉴 option -->
	<select id="bestOp" resultType="kh.spring.dto.MealDTO">
		select * from meal_menu where month=#{b_month}
	</select>
	
	
	<!-- 결제인원 -->
	<select id="all" resultType="Integer">
		select count(*) from st_mail where school=#{school} 
	</select>
	
	<select id="pay" resultType="Integer">
		select count(*) from st_payment where st_school=#{school} and month=#{month}
	</select>
	
	
	<!-- 기타 의견 -->
	<select id="selectEtc" resultType="kh.spring.dto.ChartDTO">
		select * from st_feedback where parent_email=#{parent_email}
	</select> 
	
	
	<!-- 만족도 / feedback -->
	<select id="feed01" resultType="Integer">
		select count(*) from st_feedback where feedback='매우만족' and parent_email=#{parent_email} and b_month=#{month}
	</select>
	
	<select id="feed02" resultType="Integer">
		select count(*) from st_feedback where feedback='만족' and parent_email=#{parent_email} and b_month=#{month} 
	</select>
	
	<select id="feed03" resultType="Integer">
		select count(*) from st_feedback where feedback='보통' and parent_email=#{parent_email} and b_month=#{month} 
	</select>
	
	<select id="feed04" resultType="Integer">
		select count(*) from st_feedback where feedback='불만족' and parent_email=#{parent_email} and b_month=#{month}
	</select>
	
	<select id="feed05" resultType="Integer">
		select count(*) from st_feedback where feedback='매우불만족' and parent_email=#{parent_email} and b_month=#{month} 
	</select>
	
	
	<!-- 음식 간 / taste -->
	<select id="taste01" resultType="Integer">
		select count(*) from st_feedback where taste='적당하다' and parent_email=#{parent_email} and b_month=#{month}
	</select>
	
	<select id="taste02" resultType="Integer">
		select count(*) from st_feedback where taste='짜다' and parent_email=#{parent_email} and b_month=#{month}
	</select> 
	
	<select id="taste03" resultType="Integer">
		select count(*) from st_feedback where taste='싱겁다' and parent_email=#{parent_email} and b_month=#{month}
	</select>
	
	
	<!-- 음식 양 / amount -->
	<select id="amount01" resultType="Integer">
		select count(*) from st_feedback where amount='매우만족' and parent_email=#{parent_email} and b_month=#{month} 
	</select>
	
	<select id="amount02" resultType="Integer">
		select count(*) from st_feedback where amount='만족' and parent_email=#{parent_email} and b_month=#{month} 
	</select>
	
	<select id="amount03" resultType="Integer">
		select count(*) from st_feedback where amount='보통' and parent_email=#{parent_email} and b_month=#{month}
	</select>
	
	<select id="amount04" resultType="Integer">
		select count(*) from st_feedback where amount='불만족' and parent_email=#{parent_email} and b_month=#{month} 
	</select>
	
	<select id="amount05" resultType="Integer">
		select count(*) from st_feedback where amount='매우불만족' and parent_email=#{parent_email} and b_month=#{month} 
	</select>
	
	
	<!-- 베스트메뉴 목록 -->
	<!-- <select id="menu01" resultType="String">
		select bestmenu from st_feedback where bestmenu like '(1)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu02" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(2)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu03" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(3)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu04" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(4)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu05" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(5)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu06" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(6)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu07" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(7)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu08" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(8)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu09" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(9)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu10" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(10)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu11" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(11)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu12" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(12)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu13" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(13)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu14" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(14)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu15" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(15)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu16" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(16)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu17" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(17)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu18" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(18)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu19" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(19)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu20" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(20)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu21" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(21)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu22" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(22)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu23" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(23)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select>
	
	<select id="menu24" resultType="string">
		select bestmenu from st_feedback where bestmenu like '(24)%' and parent_email=#{parent_email} and rowid in (select max(rowid) from st_feedback group by bestmenu)
	</select> -->
	
	
	<!-- 베스트메뉴 카운팅 -->
	<!-- <select id="best01" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(1)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best02" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(2)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best03" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(3)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best04" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(4)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best05" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(5)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best06" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(6)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best07" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(7)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best08" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(8)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best09" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(9)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best10" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(10)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best11" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(11)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best12" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(12)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best13" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(13)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best14" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(14)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best15" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(15)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best16" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(16)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best17" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(17)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best18" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(18)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best19" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(19)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best20" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(20)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best21" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(21)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best22" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(22)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best23" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(23)%' and parent_email=#{parent_email}
	</select>
	
	<select id="best24" resultType="Integer">
		select count(bestmenu) from st_feedback where bestmenu like '(24)%' and parent_email=#{parent_email}
	</select> -->
	
</mapper>