<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Mail">
	<select id="mailList" resultType="string">
		select stu_email from st_mail where school=#{value}
	</select> 
	
	<insert id="addStudent">
		insert into st_mail values(#{school},#{stu_name},#{stu_email})
	</insert>
	
	<delete id="deleteStudentProc">
		delete from st_mail where stu_email=#{value}
	</delete>
	
	<select id="studentList" resultType="kh.spring.dto.St_MailDTO">
		select * from st_mail where school=#{value}
	</select> 
	
	<!-- 엑셀 업로드 인서트 -->
	<insert id="excelupload" parameterType="java.util.HashMap">
		<foreach collection="list" item="item" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
			into st_mail
			values (#{item.school, jdbcType=VARCHAR},#{item.stu_name, jdbcType=VARCHAR},#{item.stu_email, jdbcType=VARCHAR})
		</foreach>
	</insert>
</mapper>