<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Meal">
	<insert id="insert">
		insert into meal_menu values (#{month}, #{meal_date}, #{school}, #{writer}, #{menu1},
		#{menu2}, #{menu3}, #{menu4}, #{menu5}, #{menu6}, #{oriName}, #{sysName})
	</insert>
	
	<!-- 엑셀 업로드 인서트 -->
	<insert id="excelupload" parameterType="java.util.HashMap">
		<foreach collection="list" item="item" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
			into meal_menu
			values (#{item.month},#{item.meal_date},#{item.school},#{item.writer}, 
			#{item.menu1},#{item.menu2},#{item.menu3, jdbcType=VARCHAR},#{item.menu4, jdbcType=VARCHAR},
			#{item.menu5, jdbcType=VARCHAR},#{item.menu6, jdbcType=VARCHAR},
			#{item.oriName, jdbcType=VARCHAR},#{item.sysName, jdbcType=VARCHAR})
		</foreach>
	</insert>
	
	<select id="selectAll" resultType="kh.spring.dto.MealDTO">
		select * from meal_menu where month=#{month} and writer=#{writer}
	</select>
	
	<select id="selectList" resultType="kh.spring.dto.MealDTO">
		select * from (select row_number() over (order by meal_date desc) rnum, month, 
		meal_date, school, writer, menu1, menu2, menu3, menu4, menu5, menu6 
		from meal_menu where writer=#{writer}) where rnum between ${start} and ${end} order by 3 desc
	</select>
	
	<select id="isdateOk" resultType="int">
		select count(*) from meal_menu where meal_date=#{meal_date} and writer=#{writer}
	</select>
	
	<select id="listCount" resultType="int">
		select count(*) from meal_menu where writer=#{writer} 
	</select>
	
	<select id="excelDownload" resultType="kh.spring.dto.MealDTO">
		select * from meal_menu where month=#{month} and writer=#{writer} and school=#{school} order by 2
	</select>
	
	<select id="search" resultType="kh.spring.dto.MealDTO">
      select * from meal_menu where menu1 like '%${keyword}%' OR menu2 like '%${keyword}%' OR menu3 like '%${keyword}%' 
      OR menu4 like '%${keyword}%' OR menu5 like '%${keyword}%' OR menu6 like '%${keyword}%'
	</select>
	
	<update id="update">
		update meal_menu set menu1=#{dto.menu1}, menu2=#{dto.menu2}, menu3=#{dto.menu3}, menu4=#{dto.menu4},
		menu5=#{dto.menu5},menu6=#{dto.menu6}
		<if test="dto.oriName!=''">
			,oriName=#{dto.oriName},sysName=#{dto.sysName}
		</if>
			where meal_date=#{meal_date} and writer=#{writer}
	</update>
	
	<delete id="delete">
		delete from meal_menu where meal_date=#{meal_date} and writer=#{writer}
	</delete>
</mapper>