<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">

	<insert id="join">
		insert into hi_member
		values(#{email},#{pw},#{name},#{school},#{gender},#{age},null,null,#{phone},sysdate)
	</insert>
	<select id="login" resultType="kh.spring.dto.MemberDTO">
		select * from hi_member where email=#{email} and pw=#{pw}
	</select>
	<!-- 아이디 중복검사 -->
	<select id="idCheck" resultType="int">
		select count(*) from hi_member where email = #{email}
	</select>
	<update id="modiName">
		update hi_member set name=#{name} where email=#{email}
	</update>
	<update id="modiSchool">
		update hi_member set school=#{school} where email=#{email}
	</update>
	<update id="modiPhone">
		update hi_member set phone=#{phone} where email=#{email}
	</update>
	<update id="modiAge">
		update hi_member set age=#{age} where email=#{email}
	</update>
	<update id="modiPw">
		update hi_member set pw=#{pw} where email=#{email}
	</update>
	<select id="pwck" resultType="int">
		select count(*) from hi_member where email =#{email} and pw=#{pw}
	</select>
	<update id="updateProfile">
		update hi_member set oriName=#{oriName}, sysName=#{sysName} where email=#{email}
	</update>
	<select id="findIdProc" resultType="int">
		select count(*) from hi_member where name=#{name} and phone=#{phone}
	</select>
	<select id="findIdMemebr" resultType="kh.spring.dto.MemberDTO">
		select replace(substr(email,1,instr(email,'@',1)-1),substr(substr(email,1,instr(email,'@',1)-1),1,2),'**')||substr(email,instr(email,'@',1),length(email))as email 
		from hi_member where name=#{name} and phone=#{phone}
	</select>
	<select id="findPwProc" resultType="int">
		select count(*) from hi_member where name=#{name} and email = #{email}
	</select>
	<update id="newPwProc">
		update hi_member set pw=#{pw} where email=#{email}
	</update>
	<update id="profileBasic">
		update hi_member set oriName=#{sysnull}, sysName=#{sysnull} where email=#{email}
	</update>
	<select id="memberInfo" resultType="kh.spring.dto.MemberDTO">
		select * from hi_member where email=#{value}
	</select>
</mapper>