<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Pay">

	<insert id="insert">
		insert into st_payment values(payment_seq.nextval, #{st_name}, #{school}, #{pay}, #{st_email}, #{pay_num}, sysdate)		
	</insert>
	
</mapper>